@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;500&display=swap");

body {
    height: 100vh;
    width: 100vw;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.main-screen {
    background-color: #273039;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 80px;
    width: 80px;
}

.bottom-bar {
    position: fixed;
    padding: 0px 40px 0px -40px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: #1F2022;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.icon-button {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

i {
    margin-bottom: 8px;
    font-size: 26px;
}

button {
    color: #fff;
    background-color: crimson;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    border-style: none;
    outline: none;
}

.float_button {
    background-color: #1F2022;
    height: 40px;
    border-radius: 5px;
    width: 40px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
  }
#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    z-index: 1001;
}

#popup {
    width: 555px;
    height: 35px;
    background: #FFFFFF;
    border: 5px solid #000;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 250px; left: 375px;
}